*{
  margin:0px;
  padding:0px;
}
#Btn {
  position: relative;
  top: 50%;
}
#left, #right {
  font-size: 1rem;
  padding: 5px 5px;
}
#left{
}
#right{
  left: 90%;
  position: relative;
}
#wrap{
  width: 800px;
  height: 800px;
  overflow: hidden;
  //background-color: skyblue;
  margin: auto;
  margin-top: 0.5%;
}

#rolling{
  background-color: pink;
  position: relative;

}

#rolling > div {
  width: 800px;
  height: 800px;
  position:absolute;
  text-align: center;
  //vertical-align: middle;
  //line-height: 400px;
  //font-size: 10rem;
  //border-radius: 1.5rem;
}
.one {
  background-color: rgba(255,87,51,1);
}
.two {
  background-color: rgba(40, 180, 99, 1);
}
.three{
  background-color: rgba(52, 152, 219, 1);
}
.four{
  background-color: pink;
}
.Transition {
  transition: 0.5s;
}
