*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(103, 175, 239);
}
header{
  background-color: red;
}
nav{
  background-color: skyblue;
}
ul{
  display:flex;
  list-style: none
}
li{
  //padding: 0px 5px;
  margin:auto;
}
section{
  background-color: green;
  float: left;
  width:70%;
}
aside{
  background-color: white;
  float: right;
  width:30%;
}
footer{
  background-color: yellow;
}
